<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <footer style="text-align: center; background-color: aliceblue; padding: 20px 0px;">
        <p>&copy; <%= new Date().getFullYear() %> Library System. All rights reserved.</p>
        <marquee behavior="" direction=""><h3>visit us again :></h3></marquee>
    </footer>
</body>

</html>